@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slow-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: slow-spin 3s linear infinite;
}